@model DBReading.Models.Contact
@{
    ViewBag.Title = "ContactUs";
}

<div class="row">
    <div class="form-group">
        <h2>Contact Us</h2>
    </div>
</div>
@using (@Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(c => c.FirstName)
            @Html.TextBoxFor(c => c.FirstName, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(c => c.LastName)
            @Html.TextBoxFor(c => c.LastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            @Html.LabelFor(c => c.Email)
            @Html.TextBoxFor(c => c.Email, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            @Html.LabelFor(c => c.Comment)
            @Html.TextAreaFor(c => c.Comment, new { @class = "form-control", rows = 10, columns = 80 })
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </div>
}

