@model DBReading.Models.ReadingPlan
@{
    ViewBag.Title = "CreatePlan";
}

<h2>CreatePlan</h2>
@using (@Html.BeginForm("CreatePlan", "GeneratePlan"))
{
    <div class="container">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Name)
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.StartDate)
                @Html.EditorFor(c => c.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        @*<div class="row">
                <div class="form-group">
                    @Html.Label("Choose a Book of set of Books") <br />
                    @foreach (var item in Model.BibleBooks.response.books)
                    {
                        @Html.RadioButtonFor(m => m.ReadingPlan.BookOption, item.name)
                        @item.name <br />
                    }
                </div>
            </div>*@
        <div class="row">
            <div class="form-group">
                <label for="GroupBook">Group Book</label>
                <select id="GroupBook" name="GroupBook"></select>                
            </div>
        </div>
            <div class="row">
                <div class="form-group">
                    <label for="Book">Book</label>
                    <select id="Book" name="Book"></select>
                </div>
            </div>

        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="submit">Create</button>
            </div>
        </div>
    </div>
}