@model DBReading.ViewModels.GeneratePlanViewModel
@{
    ViewBag.Title = "Bible Reading Plan Detail";
    DateTime thisDate = DateTime.Now.AddYears(-1);
}

<h2>You Successfully Created a reading plan</h2>

<p></p>
<div class="row">
    <ul class="list-group">
        <li class="list-group-item">
            <b>Name:</b> @Model.ReadingPlan.Name
        </li>
        <li class="list-group-item">
            <b>Start Date:</b> @Model.ReadingPlan.StartDate.ToString("d")
        </li>
        <li class="list-group-item">
            <b>Chapter per day:</b> @Model.ReadingPlan.ChapterPerDay            
        </li>
    </ul>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Reading Passage</th>
                <th>Reading Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in Model.ListReadingDetails)
            {
                if (plan.ReadingDate != thisDate)
                {
                <tr>
                    <td>
                        @foreach (var item in Model.ListReadingDetails)
                        {
                            if (plan.ReadingDate == item.ReadingDate && plan.ReadingDate != thisDate)
                            {
                                @item.PassageReference <br />
                            }
                        }
                    </td>
                    <td>
                        @plan.ReadingDate.ToString("d")
                    </td>
                </tr>
                }

                thisDate = plan.ReadingDate;
            }
        </tbody>
    </table>
</div>