@model DBReading.Models.ReadingPlan
@{
    ViewBag.Title = "Create Plan";
}
@section scripts{
    <script type="text/javascript">
        $("#divBook").hide();
        $(function () {
            $.getJSON("/Home/Groups/List", function (data) {
                var items;
                $.each(data, function (i, group) {
                    items += "<option value='" + group.Value + "'>" + group.Text + "</option>";
                });
                $("#GroupBook").html(items);
            });

            $("#GroupBook").change(function () {
                $.getJSON("/Home/Books/List/" + $("#GroupBook > option:selected").attr("value"), function (data) {
                    if ($("#GroupBook").val() == "Group Book" || $("#GroupBook").val() == "Single Book") {
                        $("#divBook").show();
                        var items;
                        $.each(data, function (i, book) {
                            items += "<option value='" + book.Value + "'>" + book.Text + "</option>";
                        });
                        $("#Book").html(items);
                    } else {
                        $("#divBook").hide();
                    }
                });
            });
        });
    </script>
}
<h2>CreatePlan</h2>
@using (@Html.BeginForm("CreatePlan", "GeneratePlan"))
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.Name)
                @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
                @*@Html.ValidationMessage("Name", "Please enter student name.", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.WeekDayOnly)
                @Html.EditorFor(c => c.WeekDayOnly)
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.ChapterPerDay)
                @Html.EditorFor(c => c.ChapterPerDay, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(c => c.StartDate)
                @Html.EditorFor(c => c.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>
        @*<div class="row">
            <div class="form-group">
                @Html.Label("Choose a Book of set of Books") <br />
                @foreach (var item in Model.BibleBooks.response.books)
                {
                    @Html.RadioButtonFor(m => m.ReadingPlan.BookOption, item.name) 
                    @item.name <br />
                }
            </div>
        </div>*@
        @*<div class="row">

            <div class="form-group">
                @Html.Label("Select book(s) for the reading") <br />
                @Html.DropDownListFor(m => m.DropDownReadingSelected, new SelectList(Model.DropDownReadingOption), new { onchange = "testfunction();" })
            </div>
        </div>*@
        <div class="row">
            <div class="form-group">
                <label for="GroupBook">Group book:</label>
                <select id="GroupBook" class="form-control" name="GroupBook"></select>
            </div>
        </div>

        <div class="row" id="divBook">
            <div class="form-group">
                <label for="Book">books:</label>
                <select  class="form-control" id="Book" name="Book"></select>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" name="submit">Create</button>
            </div>
        </div>
    </div>    
}