@model DBReading.ViewModels.GeneratePlanViewModel
@{
    ViewBag.Title = "Bible Reading Plan Detail";
    DateTime thisDate = DateTime.Now.AddYears(-1);
}

<h2>You Successfully Created a reading plan</h2>

<p></p>
<div class="row">
    <b>Name:</b> @Model.ReadingPlan.Name <br />
    <b>Start Date:</b> @Model.ReadingPlan.StartDate.ToString("d") <br />
    <b>End Date:</b> @Model.ReadingPlan.EndDate.ToString("d") <br />
    <b>Chapter per day:</b> @Model.ReadingPlan.ChapterPerDay 
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th>Reading Passage</th>
                <th>Reading Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var plan in Model.ListOfReading)
            {
                <tr>
                    <td>
                        @foreach (var item in Model.ListOfReading)
                        {
                            if (plan.ReadingDate == item.ReadingDate && plan.ReadingDate != thisDate)
                            {
                                @item.PassageReference <br />
                            }
                        }
                    </td>
                    <td>
                        @if (plan.ReadingDate != thisDate)
                        {
                            @plan.ReadingDate.ToString("d")
                        }
                       thisDate = plan.ReadingDate 
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>