@model DBReading.Models.Reader
@{
    ViewBag.Title = "CreateReader";
}

<h2>Add a reader</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { htmlAttributes = new { @class = "text-danger" }})
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.FirstName, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
            @Html.LabelFor(x => x.MiddleName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.MiddleName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
      </div>

    <div class="form-group">
            @Html.LabelFor(x => x.LastName, htmlAttributes: new { @class = "col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(x => x.LastName, new { htmlAttributes = new { @class = "form-control" } })
            </div>
    </div>
    <div class="form-group">
            @Html.LabelFor(x => x.Email, htmlAttributes: new { @class = "col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(x => x.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
     </div>

    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" name="submit" class="btn-primary">Add Reader</button>
        </div>
    </div>
}
<div>
    @Html.ActionLink("List of Readers", "Index")
</div>

