@model IEnumerable<DBReading.Models.Reader>
@using System.Linq
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h6>@Html.ActionLink("Create New", "CreateReader")</h6>
@if (!Model.Any())
{
    <text>There is no user yet.</text>
}else
{
    <table class="table-striped">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                    <td>
                        @Html.ActionLink("Detail", "Detail", new { id = item.ID }) | 
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new {  id = item.ID})

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
